*{
    margin: 0px;
	padding: 0px;
}
body{
    background-color: rgba(224, 222, 222, 0.459);
}
#contain{
    margin: auto;
    width: 1200px;
    border-radius: 5px 5px 0 0;
    background-color: white;

}
header{
    width: 100%;
    margin-top: 25px;
    border: solid 0.5 gray;
    border-radius: 5px 5px 0 0;
}
.titre_principale{
    height: 100px;
    border-radius: 5px 5px 0 0;
    background-color: grey;

}
.titre_principale h1{
    font-size: 40px;
    color: white;
    
}
.titre_principale h2{
    font-size: 20px;
    margin: 0px;
    margin-left: 75%;
    color: #ccc;
    
}
nav{
    height: 100px;
    background-color: lightseagreen;
}
nav ul li  {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding-left: 45px;
    padding-top: 60px;
}
nav ul li a{
    text-decoration: none;
    color: white;
} 
section{
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}
.section_0{
    width: 100%;
    height: 100px;
    border: solid;
    margin-bottom: 40px;
}

.section_1
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 40px;
    flex: 3;
}
.article_0 h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}
.article_0 p {
    margin-bottom: 25px;
}
.article_1 span{
    display: inline-block;
    width: 310px;
}
.article_1 span img{
    width: 60px;
    position: relative;
    top: 3px;
    left: 5px;
}
.article_1 span div p{
    margin-left: 85px;
    margin-bottom: 20px;
    margin-top: -20px;
    
}
.article_1 span div {
    border-bottom: solid .5px;   
}
.article_1 span div .image{
    border-bottom: none;  
    position: relative;
    border: solid .5px grey;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    top: 45px;
    
}
.article_1 span div:last-of-type{
    border: none;
}
.article_1 span h1{
    font-size: 25px;
    margin-bottom: -20px;
}
.article_1 .aside {
    margin-left: 45px;
    width: 410px;
}
.article_1 .aside p{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: solid .5px;
}
.aside p:first-of-type,.aside p:last-of-type {
    border-bottom: none;
}
.article_1 .aside p a{
    color: mediumturquoise;
}
.article_1 .aside h1{
    margin: 0px;
    margin-bottom: 40px;
}

aside  p{

    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid .5px;
}
aside span .element{
    margin-top: 19px;
}
aside .element h2{
 font-size: 25px;   
}
aside .element a{
    color: mediumturquoise;   
}
.element p:last-of-type {
    border-bottom: none;
}

.bouton{
    padding-right: 20px;
    width: 40px;
    height: 25px;
    text-align: center;
}